@page
@model SchoolMusic.Web.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Tu perfil";
    Layout = "_LayoutSesion";
    ViewData["id"] = Model.Student.IdUser;
}

<h1>Datos de tu perfil</h1>

<div>
    <h4> Alumno </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.NameStudent)
        </dd>
        <dt class="col-sm-2">
            Apellido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Mail)
        </dd>
        <dt class="col-sm-2">
            Dni
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Dni)
        </dd>
        <dt class="col-sm-2">
            Edad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Age)
        </dd>
        <dt class="col-sm-2">
            Genero
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Genero)
        </dd>
    </dl>
</div>
