@page
@model SchoolMusic.Web.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Alumnos de tu cursada";
    Layout = "_LayoutSesion";
}

<h1>Alumnos de tu cursada</h1>

<table class="table" style="color:white;background-color: black;
    border-radius: 6%;">
    <thead>
        <tr>
            <th>
                Nombre del alumno
            </th>
            <th>
                Apellido
            </th>
            <th>
                Email
            </th>
            <th>
                Dni
            </th>
            <th>
                Edad
            </th>
            <th>
                Genero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscriptions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.NameStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Genero)
            </td>
                <td>
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="~/img/ver.png" alt="verPerfil" class="icon-image" title="Ver perfil" />
                        </button>
                        <button class="icon-button">
                            <a asp-page="/Notifications/CreateNotification" asp-route-idTo="@item.Student.IdUser">
                                <img src="~/img/mensaje.png" alt="mensaje" class="icon-image" title="Enviar un mensaje" />
                            </a>                            
                        </button>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
