@page
@model SchoolMusic.Web.Pages.Cursadas.DetailsModel

@{
    ViewData["Title"] = "Detalles de cursada";
}

<h1>Detalles de la cursada</h1>
<div>
    <h4>Cursada de @Model.Course.Instrument</h4>
</div>
<div class="content">
    <hr />
    <dl class="row">
        <dt class="col-12">
            Fecha de inicio de cursada:
        </dt>
        <dd class="col-12">
            @Model.Cursada.Initiation.ToString("yyyy/MM/dd")
        </dd>

        <dt class="col-12">
            Fecha de finalización de cursada:
        </dt>
        <dd class="col-12">
            @Model.Cursada.Finish.ToString("yyyy/MM/dd")
        </dd>

        <dt class="col-12">
            Profesor:
        </dt>
        <dd class="col-12">
            @Model.Cursada.Teacher.NameTeacher  @Model.Cursada.Teacher.Surname
        </dd>

        <dt class="col-12">
            Horario:
        </dt>
        <dd class="col-12">
            @Model.Cursada.StarTime.ToString("HH:mm") a @Model.Cursada.EndTime.ToString("HH:mm")
        </dd>

        <dt class="col-12">
            Vacantes:
        </dt>
        <dd class="col-12">
            @Model.Cursada.Vacantes
        </dd>

        <dt class="col-12">
            Días de cursada:
        </dt>
        <dd class="col-12">
            @Model.Cursada.Days
        </dd>

        <dt class="col-12">
            Descripción de contenido:
        </dt>
        <dd class="col-12">
            @Model.Cursada.Description
        </dd>

        <dt class="col-12">
            Cuota por mes:
        </dt>
        <dd class="col-12">
            $ @Model.Cursada.PayFee
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cursada?.IdCursada" class="btn btn-primary">Modificar</a> |
    <a asp-page="./Index" class="btn btn-primary">Volver atras</a>
</div>
