@page
@model SchoolMusic.Web.Pages.Payments.IndexPaymentModel

@{
    ViewData["Title"] = "Billetera";
}

<h1> Pagos de cuotas </h1>


<div class="container mt-5">
    <h2 class="text-center"> Información de pagos </h2>
    <hr />

    <!-- Alumnos que han pagado -->
    <h5>Alumnos al día</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Mes</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model.PaymentData.AlumnosPagos.Where(a => a.EstadoPago == "Pagado"))
            {
                <tr>
                    <td>@alumno.NombreAlumno</td>
                    <td>@alumno.Mes</td>
                    <td>@alumno.Año</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Alumnos que adeudan -->
    <h5>Alumnos que adeudan</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Mes</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in Model.PaymentData.AlumnosPagos.Where(a => a.EstadoPago == "Adeuda"))
            {
                <tr>
                    <td>@alumno.NombreAlumno</td>
                    <td>@alumno.Mes</td>
                    <td>@alumno.Año</td>
                </tr>
            }
        </tbody>
    </table>
</div>

