@page
@model SchoolMusic.Web.Pages.Aula.AulaTeacherModel
@{
    ViewData["Title"] = "Aula del profesor";
    Layout = "_LayoutSesion";
}
<body onload="userSesion('@Model.Username')">

    <div class="top-right-button">
        <a asp-page="/Notifications/IndexNotification" class="btn">Notificaciones</a>
    </div>

    <div class="containerTeacher">
        <div class="details">
            <div class="infoTeacher">
                <h1>Bienvenido profesor @Model.Teacher.NameTeacher @Model.Teacher.Surname</h1>
                <img src="@Model.Teacher.FotoTeacher" alt="Foto de perfil" class="fotoTeacher" />
            </div>

            <h4>Tus datos</h4>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Correo</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Teacher.NameTeacher @Model.Teacher.Surname</td>
                        <td>@Model.Teacher.Mail</td>
                        <td>@Model.Teacher.Dni</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="upcoming-classes" ">
                <h3>Tus próximas clases</h3>
                <ul>
                    @foreach (var cursada in Model.Cursada)
                    {
                        if (cursada.Initiation > DateTime.Today && cursada.Finish > DateTime.Today)
                        {
                            <li>Cursada a las @cursada.StarTime.ToString("t") a @cursada.EndTime.ToString("t")</li>
                        }
                    }
                </ul>
            

            <div class="footer-buttons">
                <a asp-page="/Teachers/Edit" asp-route-id="@Model.Teacher?.IdTeacher" class="btn">Modificar datos</a>
                <a asp-page="/Cursadas/Details" asp-route-id="@Model.Teacher.IdTeacher" class="btn">Tus cursadas</a>
                <a asp-page="/Payments/IndexPayment" asp-route-id="@Model.Teacher.IdTeacher" class="btn">Billetera</a>
            </div>
        </div>
    </div>
</body>

