@page
@model SchoolMusic.Web.Pages.Aula.AulaStudentModel
@{
    ViewData["Title"] = "Aula del alumno";
    Layout = "_LayoutSesion";
}

<div class="top-right-button">
    <a asp-page="/Notifications/IndexNotification" class="btn">Notificaciones</a>
</div>
    <div class="infoAula">
        <img src="@Model.Student.FotoStudent" alt="Foto de perfil" class="fotoTeacher" />
        <div style="width:70%;">
            <h1 style="padding: 5%;">Bienvenido @Model.Student.NameStudent @Model.Student.Surname</h1>
        </div>
    </div>

<div>
        <h4 style="color:white">Estos son tus datos personales</h4>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Correo</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Student.NameStudent @Model.Student.Surname</td>
                        <td>@Model.Student.Mail</td>
                        <td>@Model.Student.Dni</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    <div class="upcoming-classes">
            <h2>Tus horarios de clase</h2>
            <ul>
                @if (Model.Student.Inscriptions != null && Model.Student.Inscriptions.Any(ins => ins.Cursada.Initiation > DateTime.Today))
                {
                    foreach (var ins in Model.Student.Inscriptions)
                    {
                        if (ins.Cursada.Initiation > DateTime.Today && ins.Cursada.Finish > DateTime.Today)
                        {
                            <li>
                                <span>Cursada de @ins.Cursada.Course.Instrument a las @ins.Cursada.StarTime.ToString("t") - @ins.Cursada.EndTime.ToString("t")</span>
                                
                            </li>
                        }
                    }
                }
                else
                {
                    <li>No tienes clases futuras programadas.</li>
                }
            </ul>
        <a asp-page="/Inscrptions/DetailsInscription" class="btn btn-primary"> Ver incripciones </a>
        <a asp-page="/Students/Edit" class="btn btn-primary"> Modificar tus datos </a>
        <a asp-page="/Courses/ListaCourses" class="btn btn-primary"> Inscribirse a un curso </a>
    </div>
</div>