@page
@model SchoolMusic.Web.Pages.Aula.AulaStudentModel
@{
    ViewData["Title"] = "Aula del alumno";
    Layout = "_LayoutSesion";
}
<body onload="userSesion('@Model.Username')">
    <div class="text-center ">
        <h1 style="padding: 5%;">Bienvenido @Model.Student.NameStudent @Model.Student.Surname</h1>
    </div>

    <div>
        <h4>Tus datos</h4>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Correo</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Student.NameStudent @Model.Student.Surname</td>
                        <td>@Model.Student.Mail</td>
                        <td>@Model.Student.Dni</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div style="margin-top: 30px; color:white;">
        <h2>Tus horarios de clase</h2>
        <ul>
            @if (Model.Inscriptions != null && Model.Inscriptions.Any(ins => ins.Cursada.Initiation > DateTime.Today))
            {
                foreach (var ins in Model.Inscriptions)
                {
                    if (ins.Cursada.Initiation > DateTime.Today && ins.Cursada.Finish > DateTime.Today)
                    {
                        <li>
                            <span>Cursada de @ins.Cursada.Course.Instrument: @ins.Cursada.StarTime.ToString("t") - @ins.Cursada.EndTime.ToString("t")</span>
                            <div style="margin-top: 10px;">
                                <a asp-page="/Teachers/IndexCursada" asp-route-id="@ins.Cursada.IdTeacher" class="btn btn-primary">
                                    Tu profesor
                                </a>
                            </div>
                        </li>
                    }
                }
            }
            else
            {
                <li>No tienes clases futuras programadas.</li>
            }
        </ul>
    </div>
    </div>
</body>