@page 
@model SchoolMusic.Web.Pages.Tablons.indexModel

@{
    ViewData["Title"] = "Tablón de cursada";
    Layout = "_LayoutSesion";
}

@if(Model.Topics != null)
{
    <div class="infoAula">
        <img src="@Model.Cursada.Course.ImagenURL" class="imagen-perfil" alt="Imagencurso">
        <div style="padding: 2%;">
            <h1>Cursada de @Model.Cursada.Course.Instrument</h1>
            <h3>Profesor @Model.Cursada.Teacher.NameTeacher @Model.Cursada.Teacher.Surname</h3>
        </div>
        
    </div>
    <div>
        <a asp-page="./CreatePost" class="btn btn-success">Crear nueva publicación</a>
    </div>

    @foreach (var post in Model.Topics)
    {
        <div class="card mb-3">
            <div class="card-header">
                <strong>@post.Title</strong> - Publicado por  el @post.DateTopic.ToString("g")
            </div>
            <div class="card-body">
                <p>@post.Content</p>
                <a asp-page="/PostDetails" asp-route-id="@post.IdTopic" class="btn btn-primary">Ver detalles</a>
            </div>
        </div>
    }
}

