@page 
@model SchoolMusic.Web.Pages.Tablons.indexModel

@{
    ViewData["Title"] = "Tablón de cursada";
    Layout = "_LayoutSesion";
}

@if(Model.Topics != null)
{
    <div class="infoAula" style="background-color: darkgoldenrod; padding: 3%; border: 5px solid #000;">
        <img src="@Model.Cursada.Course.ImagenURL" class="imagen-perfil" alt="Imagencurso">
        <div style="padding: 2%;">
            <h1>Cursada de @Model.Cursada.Course.Instrument</h1>
            <h3>Profesor @Model.Cursada.Teacher.NameTeacher @Model.Cursada.Teacher.Surname</h3>
        </div>
        
    </div>

    if (User.IsInRole("Profesor"))
    {
         <div>
            <a asp-page="./CreatePost" asp-route-id="@Model.Cursada.IdCursada" class="btn btn-success">Crear nueva publicación</a>
        </div> 
    }


    @foreach (var post in Model.Topics)
    {
        <div class="card mb-3 contenido-div">
            <div class="card-header">
                <h3>@post.Title</h3> - Publicado por  el @post.DateTopic.ToString("g")
            </div>
            <div class="card-body">
                <p>@post.Content</p>
                <a asp-page="./PostDetails" asp-route-id="@post.IdTopic" class="btn btn-primary">Ver detalles</a>
            </div>
        </div>
    }
}

